html,body, .page-wrapper{
	margin: 0;
	width: 100%;
	height: 100%;
}

html h1 {
	font-size: 16px;
	margin: 5px;
}




.top-container {
	height: 90%;
	width: 100%;
	position: relative;

}

.bot-container {
	height: 10%;
}

#top-container-vid {
	opacity: 0.35;
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-filter: grayscale(45%);
    -moz-filter: grayscale(45%);
    filter: grayscale(45%) blur(1.5px);
}

.top-container-vid-container {


}

.social-icons {

}

.title {
	width: 50%;
	z-index: 1;
	margin-left: auto;
	text-align: center;
	margin-right: auto;
	left: 0;
	right: 0;
	position: relative;
  	top: 40%;
  	transform: translateY(-50%);
  	font-size: 60px;
  	font-weight: 100;

}

#search {
	width: 60%;
	z-index: 1;
	margin: 0 auto;
	left: 0;
	right: 0;
	position: relative;
  	top: 40%;
  	transform: translateY(-50%);
}


.inspire-nathan {
	font-size: 20px;
	font-style: italic;
	font-weight: 100;
	position: relative;
	top: 20%;
}


.noerror {
	display: none;

}

.error {
	margin: 0 auto;
	left: 0;
	right: 0;
	position: relative;
	text-align: center;
	top: 40%;

}

.nav-bar {
	width: 100%;
	height:3%;
	text-align: center;
	position: relative;
	top: 10px;
	margin-bottom: 5px;
}

.champion-list {
	height: 80%;
	width: 100%;
	padding: 0 0 10px 0;
	margin: 0 0 3px 0;
	text-align: center;
}

.champion-wrapper {
	width: 32%;
	margin: 0;
	display: inline-block;
	position: relative;
	margin: 3px;
	padding: 10px;

}

.champion-img-wrapper {
	text-align: center;
	position: relative;
}


.champion-img {
	height: 50%;
	width: 100%;
}

.champion-statistics-wrapper {
	text-align: center;
	margin: 10px;
}

.loader-div {
	top: 40%;
	width: 100%;
	text-align: center;
	position: relative;
	display: none;
}

.loading-svg {
	height: 50px;
}

#summ-info {
	margin: 0;
	line-height: normal;
}



